.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.modal-form-of-landing-page {
  width: 30rem;
  background-color: #236eb0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}
.main-thank-you-of-landing-page {
  background-color: rgba(0, 0, 0, 0.887);
  border-radius: 10px;
  text-shadow: rgba(240, 12, 12, 0.79) 2px 2px 4px;
  color: white;
  text-align: center;
  animation: revealAnimationright 2s forwards;
  padding: 2rem 1rem;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal-form-of-landing-page input,
button {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  .modal-form-of-landing-page {
    width: 20rem;
    background-color: #236eb0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
  }
  .modal-form-of-landing-page input,
  button {
    width: 70%;
  }
}
