.main-text h1 {
  text-align: center;
  font-size: 3.5rem !important;
  font-weight: 700;
  color: rgb(53, 48, 48);
  padding-top: 4rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid black; */
}

@media only screen and (max-width: 767px) {
  .main-text h1 {
    text-align: center;
    font-size: 2rem !important;
    font-weight: 700;
    color: rgb(53, 48, 48);
    padding-top: 4rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
