.heder-of-city-guidde {
  position: fixed;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  z-index: 100;
  box-sizing: content-box !important;
  width: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.heder-of-city-guidde img {
  width: 15%;
  margin: 1% 2%;
}
.heder-of-city-guidde span {
  font-size: 200%;
  font-weight: 700;
  padding-right: 2rem;
  color: black;
}

@media only screen and (max-width: 768px) {
  span {
    font-size: 115%;
    padding-right: 40px;
  }
}
