.main-container-of-page {
  overflow: hidden !important;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
h1 {
  font-family: "Fontspring";
  text-transform: uppercase;
}

.heder-of-city-guidde {
  position: fixed;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191d3d;
  z-index: 100;
  box-sizing: content-box !important;
  overflow: hidden;
}

.main-head-text-of-landing-page {
  display: flex;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  background-size: 100%;
  background-image: linear-gradient(to bottom, #7e7e7e6a, #222222a9),
    url(./Assets/main-bacjk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.head-text-of-landing-page {
  animation: revealAnimation 2s forwards;
}

.text-of-landing-page {
  text-shadow: #000000 3px 3px 5px;
  font-size: 620%;
  font-weight: 700;
  padding-bottom: 3rem;
}

.span-text-of-landing-page {
  font-size: 50%;
  color: white;
  font-weight: 200;
  text-shadow: #090909 3px 3px 5px;
}

.second-class {
  font-size: 45px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}

.button-of-top {
  width: 80%;
  padding-top: 10px;
  font-size: 2rem !important;
  margin-top: 2rem;
  text-align: center;
  background-color: red;
  color: white;
  border: 1px solid red;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-of-landing-page {
  width: 100%;
  background-color: #7f4775de;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: revealAnimationright 2s forwards;
  padding: 2rem 0;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-of-landing-page input,
button {
  width: 70%;
}

.main-overview-of-college {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.course-and-collage {
  display: flex;
  gap: 5%;
  width: 70%;
}

.head-text-of-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  text-align: center;
  color: #7f4775;
}
.main-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.main-courses h6 {
  width: 17rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2% 2%;
  transition: background-color 0.3s;
}
.main-courses h6:hover {
  background-color: #7f4775;
  color: white;
}

.boxes-of-palcement li {
  width: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1% 1%;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Top-Recruiters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  animation: slide 10s linear infinite;
  object-fit: cover;
  margin-bottom: 2rem;
}

.Top-Recruiters img {
  width: 20%;
  height: 40%;
}
.campus-life {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  gap: 2rem;
  padding: 0 3%;
  flex-wrap: wrap;
}
.card-of-campus-life {
  box-shadow: #3b1d6453 0px 4px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 17.5rem;
  text-align: center;
}
.card-of-campus-life img {
  width: 30%;
}

.Approval {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 4% 3%;
}
.main-Approval {
  background-color: #7f4775;

  margin-top: 2rem;
}

.Approval img {
  width: 20%;
  height: 20%;
  padding: 3%;
  background-color: white;
  border-radius: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

li::marker {
  color: #3e0b00;
}

.why-chose-us {
  display: flex;
  gap: 3rem;
}

.footer-of-page-alliance {
  background-color: #191d3d;
  box-sizing: content-box !important;
}

.all-link-in-footer i {
  color: white;
}
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body button {
  width: 30% !important;
  height: 2rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* model styling start from here */

.center {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 30%;
  text-align: center;
  height: 80%;
}

.close-modal {
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}

.class-model-div {
  display: flex;
  justify-content: right;
  align-items: end;
  width: 90%;
  height: 1rem;
  margin-bottom: -30px;
}

/* ----------------------------------------- */

/* ----------------------------------------------------- */

@keyframes revealAnimation {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(20px);
  }
}

@keyframes revealAnimationright {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(
      100%
    ); /* Start from the right side of the container */
  }
  100% {
    transform: translateX(-100%); /* End at the left side of the container */
  }
}

.all-comp-in-campus:hover {
  transform: scale(1.1); /* Increase the scale factor as needed */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ----------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
  .main-head-text-of-landing-page {
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #7e7e7e6a, #222222a9),
      url(./Assets/main-bacjk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }
  .span-text-of-landing-page {
    font-weight: 800;
    padding-right: 6%;
  }
  .text-of-landing-page {
    margin-top: 3rem;
    font-size: 300%;
    margin-bottom: -3rem !important;
  }
  .second-class {
    font-size: 22px;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: white;
    padding: 1rem 0rem;
    text-shadow: rgb(0, 0, 0) 2px 2px 4px;
  }
  .sp-text {
    gap: 4rem !important;
  }

  .button-of-top {
    width: 85%;
    font-size: 1.2rem !important;
  }

  .form-of-landing-page {
    margin: auto;
    width: 90%;
    background-color: #7f4775de;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: revealAnimationright 2s forwards;
    margin-top: -7rem;
  }

  .pop-up-form {
    margin-top: 0rem !important;
  }
  .Students-component ul {
    display: flex;
    flex-wrap: wrap;
  }
}

/* ------------ Thankyoupage CSS------------------------------- */

.main-thank-you-of-landing-page {
  background-color: rgba(228, 220, 220, 0.271);
  border-radius: 10px;
  text-shadow: rgba(240, 12, 12, 0.79) 2px 2px 4px;
  color: white;
  text-align: center;
  animation: revealAnimationright 2s forwards;
  padding: 2rem 1rem;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  width: 100%;
}
