.main-container-of-page {
  overflow: hidden !important;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
h1 {
  font-family: "Fontspring";
  text-transform: uppercase;
}

.heder-of-city-guidde {
  position: fixed;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 100;
  box-sizing: content-box !important;
  overflow: hidden;
  border-bottom: 2px solid black;
}

.main-head-text-of-landing-page {
  /* margin-top: 5rem !important; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-size: 100%;
  background-image: linear-gradient(to bottom, #7e7e7e42, #2222228c),
    url(./Assets/main-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.head-text-of-landing-page {
  animation: revealAnimation 2s forwards;
}

.text-of-landing-page {
  text-shadow: rgba(12, 115, 150, 0.884) 3px 3px 5px;
  font-size: 510%;
  font-weight: 700;
  padding-bottom: 2rem;
}

.span-text-of-landing-page {
  font-size: 3rem;
  color: white;
  font-weight: 200;
  text-shadow: rgba(12, 115, 150, 0.884) 3px 3px 5px;
}

.local-text {
  font-size: 3rem;
  margin-top: 2rem;
  background-color: red;
  width: 70%;
  text-align: center;
  font-family: "Diphylleia", serif;
  padding-bottom: 2%;
}
.button-of-top {
  display: flex;
  gap: 2rem;
}
.button-of-top button {
  width: 16rem;
  padding: 1%;
  font-size: 30px;
  background-color: red;
  color: white;
  border: 1px solid red;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: background-color 0.5s;
}
.button-of-top button:hover {
  background-color: white;
  color: #022873;
}

.form-of-landing-page {
  width: 100%;
  background-color: #cbebf6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: revealAnimationright 2s forwards;
  padding: 2rem 0;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-of-landing-page input,
button {
  width: 80%;
}

.main-overview-of-college {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.head-text-of-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  text-align: center;
  color: #39639b;
}

.college-all {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #dde4e8;
  border-radius: 5px;
  width: 17rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top-text-of-college {
  background-color: #123880;
  color: white;
  text-align: center;
  padding: 3% 0%;
  border-top: 5px solid #6dcbf8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Roboto Condensed", sans-serif;
}

.Approval {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 4% 3%;
}
.main-Approval {
  background-image: url(./Assets/Accreditations-back-image.jpg);
  margin-top: 2rem;
  padding: 0% !important;
}

.Approval img {
  width: 20%;
  height: 20%;
  padding: 3%;
  background-color: white;
  border-radius: 10px;
}
.boxes-of-palcement li {
  width: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1% 1%;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-courses {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.main-courses div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2% 2%;
  width: 18rem;
  height: 20rem;
  /* text-align: center; */
  text-align: center;
  font-size: 1.2rem;
  /* height: 5rem; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: background-color 0.3s;
}
.main-courses b {
  font-size: 2rem;
}

.main-courses div:hover {
  background-color: #0088cc;
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
  padding: 0% 3%;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.course {
  margin: 2% 2%;
  padding: 2% 2%;
  background-color: white;
  color: black;
  border: 1px solid black !important;
  transition: transform 0.4s;
  border-radius: 10px;
  height: 18rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.course:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.Top-Recruiters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  animation: slide 10s linear infinite;
  object-fit: cover;
  margin-bottom: 2rem;
}

.Top-Recruiters img {
  width: 20%;
  height: 40%;
}
.campus-life {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  gap: 1rem;
  padding: 0 3%;
  flex-wrap: wrap;
}
.card-of-campus-life {
  box-shadow: #3b1d6453 0px 4px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 17.5rem;
  text-align: center;
  gap: 1rem;
}
.card-of-campus-life img {
  width: 30%;
}

li::marker {
  color: #fb0f0c;
}

.why-chose-us {
  display: flex;
  gap: 3rem;
}

.footer-of-page-alliance {
  background-color: #002147;
}

.all-link-in-footer i {
  color: white;
}
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body button {
  width: 30% !important;
  height: 2rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* model styling start from here */

.center {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 30%;
  text-align: center;
  height: 80%;
}

.close-modal {
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}

.class-model-div {
  display: flex;
  justify-content: right;
  align-items: end;
  width: 90%;
  height: 1rem;
  margin-bottom: -30px;
}

/* ----------------------------------------- */

/* ----------------------------------------------------- */

@keyframes revealAnimation {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(20px);
  }
}

@keyframes revealAnimationright {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(
      100%
    ); /* Start from the right side of the container */
  }
  100% {
    transform: translateX(-100%); /* End at the left side of the container */
  }
}

.all-comp-in-campus:hover {
  transform: scale(1.1); /* Increase the scale factor as needed */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ----------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
  .text-of-landing-page {
    padding-top: 1rem;
    font-size: 274%;
    text-shadow: rgba(12, 115, 150, 0.884) 3px 3px 5px;
    margin-top: 2rem;
  }
  .main-head-text-of-landing-page {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-image: linear-gradient(to bottom, #7e7e7e42, #2222228c),
      url(./Assets/main-back.jpg);
    height: auto;
  }
  .span-text-of-landing-page {
    font-size: 50%;
    font-weight: 500;
    text-shadow: rgba(12, 115, 150, 0.884) 3px 3px 5px;
  }
  .button-of-top button {
    width: 9rem;
    font-size: 24px;
  }

  .form-of-landing-page {
    margin: auto;
    width: 90%;
    background-color: #cbebf6e6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: revealAnimationright 2s forwards;
    margin-top: -22rem;
  }
  .main-text {
    font-size: 120%;
    padding-bottom: 20rem;
    font-weight: 600;
  }

  .why-chose-us {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-left: 4%;
  }

  .pop-up-form {
    margin-top: 0rem !important;
  }
  .Students-component ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.card:hover {
  transform: scale(1.1);
}

.local-text {
  font-size: 2rem;
  margin-top: 2rem;
  background-color: red;
  width: 70%;
  text-align: center;
  font-family: "Diphylleia", serif;
  padding-bottom: 2%;
}

@media screen and (max-width: 426px) {
  .center {
    width: 90%;
  }
}

/* ------------ Thankyoupage CSS------------------------------- */

.main-thank-you-of-landing-page {
  background-color: rgba(228, 220, 220, 0.271);
  border-radius: 10px;
  text-shadow: rgba(240, 12, 12, 0.79) 2px 2px 4px;
  color: white;
  text-align: center;
  animation: revealAnimationright 2s forwards;
  padding: 2rem 1rem;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  width: 100%;
}
